{% extends 'base.html.twig' %}

{% block title %}Compte banni{% endblock %}

{% block content %}
    <div class="container py-5 text-center">
        <h1>Votre compte a été suspendu</h1>
        <p>Veuillez contacter l'administration si vous pensez que c'est une erreur.</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
