<!-- Footer -->
<footer class="py-4" style="background-color: #ff9966;">
    <div class="container text-center text-white">
        <p>&copy; 2024 ESGI E-Commerce. Aucun droit réservé.</p>
    </div>
</footer>