{% extends 'base.html.twig' %}

{% block title %} Accueil - E-Commerce {% endblock %}

{% block content %}

    <!-- Hero Section -->
    <header class="py-5 text-center" style="background-color: #ffcc99;">
        <div class="container">
            <h1 class="display-4 text-white">Bienvenue sur notre boutique en ligne</h1>
            <p class="lead text-white">Découvrez nos produits de qualité pour toutes vos envies.</p>
            <a href="{{ path('app_products') }}" class="btn btn-primary btn-lg">Explorer les Produits</a>
        </div>
    </header>

{% endblock %}
